<div class="row txtcenter">
    <div class="col-xs-12 col-md-3 container">
            <a class="btn btn-grey full-width maxh495px "  href="/timmsub1"> 
                <img src="/src/app/Images/Timmy.png" class="full-width mt30px maxw230px">
            </a>
        <div class="overlay">Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh!!! Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh</div>
    </div>

    <div class="col-xs-12 col-md-3 container">
            <a class="btn btn-grey full-width maxh495px" ui-sref="/timmsub2"> 
                <img src="/src/app/Images/Professor-timothy.png" class="full-width mt30px maxw230px">
            </a>
            <div class="overlay">Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh!!! Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh</div>
    </div>

    <div class="col-xs-12 col-md-3 container ">
            <a class="btn btn-grey full-width " ng-click="searchfilter.ProductGroup('new-releases')"> 
                <img src="/src/app/Images/Fast-travel-timmy.png" class=" maxh480px ">
            </a>
            <div class="overlay">Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh!!! Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh</div>
    </div>

    <div class="col-xs-12 col-md-3 container">
            <a class="btn btn-grey full-width maxh495px " ng-click="searchfilter.ProductGroup('new-releases')"> 
                <img src="/src/app/Images/Timmy.png" class="full-width mt30px maxw230px">
            </a>
            <div class="overlay">Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh!!! Timmmeeehhhhh.. Timmy.. Timmeh timmeeeehhhhhhhh</div>
    </div>
</div>
