<nav class="navbar navbar-default" data-spy="affix" >
        <div class="container">
            <div class="navbar-header whiteft">
                    <span class="btn-lgrey" role="presentation" class="active">  
                        <a routerLink="/home" routerLinkActive="active"> <img src="/src/app/Images/logo.jpg" width="50"></a></span>
            
            </div>
            <div class="collapse navbar-collapse whiteft" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav whiteft"> </ul>
                <ul class="nav navbar-nav navbar-right whiteft">
                    <li role="presentation"><a routerLink="/timmsub1">Timmy's Band</a></li>
                    <li role="presentation"><a routerLink="/timmsub2">Timmy's Super Powers</a></li>
                    <li role="presentation"><a routerLink="/timmsub3">Timmy's call to gondor</a></li>
                    <li role="presentation"><a routerLink="/timmsub4">Timmy's school subjects</a></li>
                    <li role="presentation" class="btn-blue"><a routerLink="/contactus">Contact Timmeh</a></li>
                </ul>
            </div>
        </div>
</nav>