<div class="row">
        <div class="col-xs-12 col-md-12 container">
                <a class="btn btn-blue full-width h400px" > 
                       Carousel
                </a>
        </div>
</div>

<div class="row txtcenter">
        <div class="col-xs-12 col-md-4 container">
                <a class="btn btn-grey full-width " ng-click="searchfilter.ProductGroup('new-releases')"> 
                        Band Songs
                </a>
        </div>
    
        <div class="col-xs-12 col-md-4 container">
                <a class="btn btn-grey full-width " ng-click="searchfilter.ProductGroup('new-releases')"> 
                        Album Prices
                </a>
        </div>
    
        <div class="col-xs-12 col-md-4 container">
                <a class="btn btn-grey full-width " href="/contactus"> 
                  Contact Timmeh 
                </a>
        </div>

    </div>