<div class="row">
    <div class="col-md-8">
        <form class="form-inline" name="ContactTimmyForm" ng-submit="self.NewUserSend()">
        <div class="col-md-12 full-width mb10px">
            <input class="btn-block" type="text">
        </div>
        <div class="col-md-12 full-width mb10px">
            <input class="btn-block" type="text">
        </div>
        <div class="col-md-12 full-width mb10px">
            <input class="btn-block" type="text">
        </div>
        <div class="col-md-12 full-width mb10px">
            <input class="btn-block" type="text">
        </div>
        <div class="col-md-12 full-width mb10px">
            <input class="btn-block" type="text">
        </div>
        <div class="col-md-12 full-width mb10px">
               <a></a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <img src="/src/app/Images/logo.jpg">
        </div>
        <div class="col-md-12">Characte Description</div>
    </div>
    
</div>